*{
  font-family: Arial, Helvetica, sans-serif;
}
div{
  color: rgb(80, 80, 80);
}

.bg-yellow {
  background-color: rgb(222, 115, 0);
  box-shadow: 2px 5px 15px rgb(222, 115, 0);
}

.bg-purple {
  background-color: rgb(205, 163, 205);
  box-shadow: 2px 5px 15px rgb(205, 163, 205);
}

.bg-blue-chart {
  background-color: rgb(63, 159, 255);
  box-shadow: 2px 5px 15px rgb(42, 205, 255);
}

.bg-blue{
  background-color: rgb(63, 159, 255);
}


.bg-red {
  background-color: red;
}

.bg-green{
background-color: rgb(133, 233, 190);
box-shadow: 2px 5px 15px rgb(133, 233, 190);
}

.bg-pink{
  background-color: rgb(255, 90, 236);
  box-shadow: 2px 5px 15px rgb(233, 133, 216);
  }
  

.border-gray{
  border-color: rgb(185, 185, 185);
  outline: 0px solid gray;
}


.gray-bg{
  background-color: rgb(239, 239, 239);;
}

.team-img{
  width: 1.5em;
  height: 1.5em;
  margin-inline: .3em;
}

.tab{
  border-radius: .5em;
  /* border: 1px solid rgb(0, 200, 255); */
}

svg{
  font-size: 1.4em;
  color: rgb(80, 80, 80);
}


.task svg{
  font-size: 1.8em;
}

.active-side{
  background-color: rgb(0, 200, 255);
}
.active-side p, .active-side svg {
  color: white;
}

.active-tab .bg-white, .active-menu{
 color: rgb(0, 200, 255);
  border:2px solid rgb(0, 200, 255);
}

.title svg{
color: white;
}


